body{
	background-color: #333333FF;
}

div.header{
	background-image: url("Ramen_Website2.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(59,59,59,135);
	margin-left: 2em;
	margin-right: 150px;
	height: 200px;
	left:0;
}

div.klassiker{background-image: url("tabs/BalkenWebsiteIllustrierteKlassikerFlip.png") !important;}
div.wissenschaft{background-image: url("tabs/BalkenWebsiteScienceFlip.png") !important;}
div.krimi{background-image: url("tabs/BalkenWebsiteMysteryFlip.png") !important;}
div.kinder{background-image: url("tabs/BalkenWebsiteKidsFlip.png") !important;}
div.bio{background-image: url("tabs/BalkenWebsiteBioFlip.png") !important;}

div.logo{
	position: absolute;
	right: 2em;
	top: 0px;
	width: 300px;
	height: 300px;
	z-index: 2;
}

div.navigation{
	background-color: #000000FF;
	/* border-top: 5px solid #BE0000FF; */
	margin-left: 2em;
	margin-right: -10em;
}

div.main{
	background: url("WebsiteBackgroundforBeige.png") no-repeat bottom right;
	background-size: contain;
	background-color: #F0E0C4FF;
	padding: 4em 1em 1em 1em;
	margin: 0em 1em 0em 2em;
	min-height:1500px;
}

div.ul{float:left;}

div.flex{height:100%;}
div.mainpanel{margin-right: 250px;}

div.sidebar{
	width: 250px;
	position: absolute;
	top:0;
	right:0;
	margin-top: 300px;
	margin-right: 1em;
	margin-left: 1em;
	height:100%;
}

ul.nav{
	list-style-type: none;
  padding-left: 5pt;
  padding-top: 0em;
  overflow: hidden;
	display:inline-block;
}

ul.nav li{
	margin: 0px 10px;
	float:left;
	text-align:center;
	height: 25px;
	padding-bottom:5pt;
}

ul.nav li a{
	text-decoration: none;
	font-size: 26px;
	color:#F0E0C4FF;
}

ul.hidden_nav{
	display:none;
	list-style-type: none;
	z-index: 1;
	position: absolute;
}

ul.nav>li:hover ul.hidden_nav{
	display: block;
}

ul.hidden_nav li{
	display: block;
	float: none;
	background-color:#000000FF;
	padding: 5pt 5pt 5pt 5pt;
	margin-left: -2.5em;
	text-align: left;
}

ul.hidden_nav li a{
	font-size: 18px;
}

img.sidebar{
	width: 100%;
	margin-bottom: 1em;
}

ul.buch{
	list-style-type: none;
}

ul.buch>li{
	background-color: rgba(59,59,59,135);
	padding: 3em 0em 3em 1em;
	margin-top:5pt;
	width: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right 0;
}

ul.buch li a{
	text-decoration:none;
	color:#F0E0C4FF;
	font-size: 24px;
}

li.klassiker{
	background-image: url("tabs/BalkenWebsiteIllustrierteKlassiker.png");
	padding: 2.1em 0em 2.1em 1em !important;
}
li.wissenschaft{
	background-image: url("tabs/BalkenWebsiteScience.png");
	padding: 2.1em 0em 2.1em 1em !important;
}
li.krimi{background-image: url("tabs/BalkenWebsiteMystery.png");}
li.kinder{background-image: url("tabs/BalkenWebsiteKids.png");}
li.bio{
	background-image: url("tabs/BalkenWebsiteBio.png");
	padding: 2.1em 0em 2.1em 1em !important;
}

ul.hidden{
	display:none;
}

ul.buch>li:hover{
	width: 95%;
	background-image: none;
}

ul.buch>li:hover ul.hidden{
	display: block;
}

ul.hidden>li{
	background-color:#F0E0C4FF;
	color:#000000FF;
	font-size:18px;
	padding: 1em 1em 1em 1em;
	margin-right: 2pt;
	margin-top:1pt;
}

/* Footer */

div.footer{
	/* border-top: 5px solid #BE0000FF; */
	border-top: 5px solid #000000FF;
	margin-right: 1em;
	margin-left:2em;
	margin-top: auto;
	bottom:0;
}

div.footer ul{
	list-style-type: none;
    padding-left: 0em;
    padding-top: 0em;
    overflow: hidden;
}

div.footer ul li{
	margin: 0px 10px;
	float:left;
	text-align:center;
	height: 45px;
}

div.footer ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #F0E0C4FF;
}

div.flags{
	float:right;
	position: absolute;
	right:0;
	margin-right:275px;
}

/* Responsive design */

@media screen and (max-width: 800px) {
	div.navigation{
		padding-right:200px;
		margin-right: 1em;
	}
	div.logo{
		width: 150px;
		height: 150px;
	}
	div.header{
		height:100px;
		margin-right: 100px;
	}
	div.sidebar{
		margin-top: 150px;
		width:100px;
	}
	div.mainpanel{
		margin-right: 100px;
	}
	ul.nav li{
		float:unset;
		text-align:unset;
	}
	ul.nav li a{
		font-size: 18px;
		/* margin-top: 150px; */
	}
	ul.buch{
		padding-left:10px;
	}
	ul.buch>li{
		width:95%;
		/* height:115px; */
		padding: 1em 0em 1em 1em;
		background-size:cover;
	}
	li.klassiker{
		padding: 0.5em 0em 0.5em 1em !important;
	}
	li.wissenschaft{
		padding: 0.5em 0em 0.5em 1em !important;
	}
	li.bio{
		padding: 0.5em 0em 0.5em 1em !important;
	}
	ul.buch>li a{
		font-size: 14px;
	}
	ul.buch>li:hover{
		height:unset;
	}
}
